/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

p.name {
    font-size: 1.2rem;
}

/* Container and Backgorund */
.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #dadbd4 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 85%;
    min-width: 900px;
    height: 95vh;
    display: flex;
}


/* Sidebar */
.sidebar {
    width: 35%;
    height: 100%;
}

/* Sidebar Header */
.sidebar-header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 0 1rem;
}

.user {
    display: flex;
    align-items: center;
}

.user .img-container {
    border-radius: 50%;
    width: 40px;
    overflow: hidden;
}

.user .name {
    margin-left: 1rem;
}
                                                    /* Posso riciclarlo per le icone del main */
.icons i{
    color: #b1b1b1;
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Sidebar Main */

.sidebar-main{
    height: calc(100% - 60px);
}

.notifications {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 0 1rem;
}

.icon-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i{
    color: #8edafc;
    font-size: 2rem;
}

.notifications .text{
    margin-left: 1rem;
}

.notifications .text p {
    font-weight: bold;
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

.notifications .text a {
    color: grey;
}




.input-wrapper {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.input-wrapper label{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper label i{
    color: #b1b1b1;
    font-size: 1.2rem;
}

.input-wrapper input {
    width: 85%;
    height: 80%;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
}




ul {
    background-color: white;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
}

li {
    display: flex;
    justify-content: space-between;
    padding: .4rem;
}

.contact {
    display: flex;
}

.text {
    margin-left: 1rem;
}

.text .name{
    font-weight: bold;
}

.text .last-message{
    color: grey;
    margin-top: .3rem;
}

.time .last-hour,
.time .last-minute{
    color: grey;
    font-size: .8rem;
}

.img-container {
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
}